/* .background-blue {
	text-align: center; */
/* background: linear-gradient(89deg, rgb(61, 162, 187) 0%, #1f2739 100%); */
/* background: #1f2739; */
/* background: linear-gradient(89deg, rgb(80, 153, 182) 0%, #00ff55 100%);

	width: 100%;
} */

.App {
	text-align: center;
}

/* .profile {
	text-align: center;
	background-color: #1f2739;
	width: 100%;
} */
